<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="assets/mui/css/mui.min.css" />
    <link rel="stylesheet" href="assets/FontAwesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/category.css" />
</head>

<body>
    <!-- 头部区域 -->
    <header id="header" class="mui-bar mui-bar-nav my-header">
        <h1 class="mui-title">分类中心</h1>
        <a class="mui-icon mui-icon-left-nav mui-pull-left" href="javascript:history.back();"></a>
        <!-- 搜索图标 -->
        <!-- <a class="mui-icon mui-icon-search mui-pull-right "></a> -->
    </header>

    <!-- 内容区域 -->
    <div class="my-content">
        <div class="category-left">
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <!-- 设置唯一id 让模板引擎检测到 -->
                    <div class="links" id="links"></div>
                </div>
            </div>
        </div>
        <div class="category-right">
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <ul class="brand-list" id="brand-list"></ul>
                </div>
            </div>
        </div>
    </div>

    <!-- 底部 -->
    <nav class="mui-bar mui-bar-tab my-footer">
        <a class="mui-tab-item" href="index.html ">
            <span class="mui-icon mui-icon-home"></span>
            <span class="mui-tab-label">首页</span>
        </a>
        <a class="mui-tab-item mui-active" href="category.html ">
            <span class="mui-icon mui-icon-bars"></span>
            <span class="mui-tab-label">分类</span>
        </a>
        <a class="mui-tab-item" href="#tabbar-with-contact ">
            <span class="mui-icon fa fa-shopping-cart"></span>
            <span class="mui-tab-label">购物车</span>
        </a>
        <a class="mui-tab-item" href="login.html">
            <span class="mui-icon mui-icon-person"></span>
            <span class="mui-tab-label">会员中心</span>
        </a>
    </nav>

    <script src="assets/zepto/zepto.min.js "></script>
    <script src="assets/mui/js/mui.min.js "></script>
    <script src="js/base.js "></script>
    <script src="js/category.js"></script>
    <script src="assets/artTemplate/template-native.js"></script>

    <!-- category-first：id跟模板引擎设置的id名相同 -->
    <script type="text/template" id="category-first">
        <% for(let i=0;i<result.length; i++){%>
            <a href="#" data-id=<%=result[i].id%>>
              <!-- result请求到的每一个内容 内容放在a标签里-->
              <%=result[i].categoryName%>
          </a>
            <%}%>
    </script>
    <!-- <li>
        <a href="#">
            <img src="images/brand1.png">
        </a>
    </li> -->
    <script type="text/template" id="category-second">
        <% for(let i=0;i<result.length;i++){%>
            <li id="brand-list">
                <a href="#">
                  <img src="<%=result[i].brandLogo%>">
                  <p><%=result[i].brandName%></p>
              </a>
            </li>
            <%}%>
                <% if(!result.length){%>
                    <div class="noresult">暂时没有该分类数据</div>
                    <%}%>
    </script>
</body>

</html>